@page
@model TempDataHelperExtension.Pages.OtherPageModel
@{
    ViewData["Title"] = "OtherPage";
}

<h1>OtherPage</h1>
<p>
    <a asp-page-handler="Message" asp-route-text="I am OtherPage: text success AAA">Success text AAA</a>
</p>
<p>
    <a asp-page-handler="Message" asp-route-text="I am OtherPage: text success BBB">Success text BBB</a>
</p>
