@page
@model TempDataHelperExtension.Pages.OtherPage2Model
@{
    ViewData["Title"] = "OtherPage2";
}

<h1>OtherPage2</h1>

<p>
    <a asp-page-handler="Message" asp-route-text="I am OtherPage 2: text danger YYY">Danger text YYY</a>
</p>
<p>
    <a asp-page-handler="Message" asp-route-text="I am OtherPage 2: text danger ZZZ">Danger text ZZZ</a>
</p>